
@charset 'UTF-8';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
}

body::-webkit-scrollbar{
    display: none;
}

.conteiner{
    width: 350px;
    height: 1300px;
    margin: 20px 0px 20px 0px;
     border: 2px solid  rgb(255, 230, 0);
}

#item1{
    height: 80px;
    padding: 5px;
}

#item1 > h1{
    font-size: 30px;
}

#item2{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#caixa1{
    
    width: 346px;
    height: 400px;
    transform: translatey(28.5px);
}

.video{
    width: 300px;
    height: 400px;

}

#caixa2{
    display: flex;
    flex-flow: column;
    width: 346px;
    height: 490px;
    
}

#img1{
    width: 346px;
    height: 350px;
    transform: translateY(20px);
    
}

#img2{
    width: 346px;
    height: 200px;  
    transform: translateY(-40px);
    margin-bottom: 10px;
}

