@charset 'UTF-8';


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1:#36BFB1;
    --cor2:#038C73;
    --cor3:#02735E;
    --cor4:#014034;
    --cor5:#0D0D0D;

    /*Pack 2 de cores */
    --cor01:#F20F0F;
    --cor02:#D90D1E;
    --cor03:#A60808;
    --cor04:#590303;
    --cor05:#400202; 

}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background-image: linear-gradient(to top, black, orange , rgb(255, 238, 0), rgb(26, 25, 17))
   
   
   
}

.conteiner{
    width: 1200px;
    height: 700px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 30px;
    gap: 2px;

    border: 1px solid  rgb(255, 230, 0);
    border-radius: 30px;
    
    background-color: var(--cor5);
    backdrop-filter: blur(3px);

    box-shadow: rgba(255, 153, 0, 0.3) 0px 19px 38px, rgba(255, 208, 0, 0.22) 0px 15px 12px;
}


#item1{
    grid-area: 1 / 1 / 2 / 4;
    
}

#item2{
    grid-column: 1 / 4;
    
}

#item3{
    grid-area: 3 / 1 / 4 / 4;
    
    
    
}

header{
    background-color: orange;
    border-radius: 30px 30px 0px 0px ;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 4px rgb(255, 251, 0) ;
}



main{
    display:grid;
    grid-template-rows: 200px 150px auto;
    grid-template-columns: 400px auto;
    gap: 3px;
}

#caixa1{
    grid-row: 1 / 4 ;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#caixa2{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}


#caixa3{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column ;
    
}


h2{
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(255, 123, 0) ;
    font-size: 25px;

    margin-bottom: 20px;
}

#caixa3  h3, p{
    margin-bottom: 30px;
}
#caixa3 p{
    font-size: 30px;
}

#caixa3 > a{
    font-size: 40px;
    text-decoration: none;
    color: white;

}

#caixa3 > a:hover{
    text-decoration: underline;
    color: orange;
}


footer{
    background-color: orange;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: center;
}

footer > p{
    margin-top: 10px;
    
}

footer > p > a{ 
    text-decoration: none;
    color: black;

}



